@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing:border-box;
 }
 body{
    width: 50%;
    margin: auto;
    font-family: "Montserrat", "Bebas Neue"," Anton",'Helvetica';
    background-color: #0a1912;

 }
 header{
    text-align: center;
 }
 form{
    background-color: white;
    color:#0a1912;
    padding:3rem; 
 }
 h1{
    color: #33845B; text-align: center;
 }
 label{
    display:block;        
   
}
legend{
    color:#33845B;
    font-weight: bold; font-size: 1.5rem; text-align: center; border: none;
}
 input[type="submit"]{
    background-color:#f95919;
    color: white; font-weight: bold; font-size: 1.5rem;
    padding:0.5rem;
    cursor:pointer;
    border: none; margin: 2rem; width: 50%; 
}
input[type="submit"]:hover{
    background-color: #33845B; 
    color: white;}
    input[type="radio"]+ label{
        display:inline;
        cursor: pointer;
    }
    fieldset.section{
        display: grid;
				grid-template-columns: 1fr 1fr ; 
				grid-gap: 1rem;
			}
            div{
               text-align: center;
            }
            footer{
                font-size: 1.1rem;
                color: white;
                padding: 1.2rem;
                text-align: center;
            }
    
  